.result {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin: auto;
  margin-top: 3rem;
}

.search {
  background-color: darkgray;
  text-align: center;
  padding: 1.5rem;
}

.input {
  font-size: 2rem;
}
